body{
  background-image: url('../images/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper{

}
header{
  color: white;
  background-color: #1f1647;
}
nav{
  background-color: #1f1647;
}
.navlinks li{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
.navlinks a{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}
footer{
  background-color: #1f1647;
}
ul li{
  list-style-type: none;
  display: block;
}
h1{
  
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
p{
  color: white;
  font-family: 'Josefin Sans', sans-serif;

}
.left .lefti .leftii .leftiii .leftiv{
  font-family: 'Josefin Sans', sans-serif;
}
.right{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background-color: #1f1647;
}
.righti .rightii .rightiii .rightiv{
  font-family: 'Josefin Sans', sans-serif;
}
