body{
  margin: 10;
  margin-bottom: 0;
  padding-bottom: 0
  padding: 30px;

}
.wrapper{
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
header{
  display: block;
  text-align: center;
  margin: 0;
  padding: 10px;
  height: auto;
  width: 100%;
}
nav {
  margin: 10;
  padding: 0;
  height: auto;
  width: 100%;
  display: block;
  text-align: center;
}
.navlinks{
  list-style-type: none;
}
.navlinks li{
  display: inline-block;
}
.navlinks a{
  text-decoration: none;
  display: block;
  padding: 10px;
}
nav a:hover {
   background-color: #ddd;
   color: black;
 }
footer{
  display: block;
  text-align: center;
  padding: 5px;
}
.left{
  display: inline-block;
   vertical-align: top;
   width: 50%;
   box-sizing: content-box;
   margin: 1%;
}
.right{
  display: inline-block;
   vertical-align: top;
   width: 40%;
   box-sizing: content-box;
   margin: 1%;
   padding: 10px;
}
